@model Presentation.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Accounts";
}
<br/>
<div class="ui celled list">
    @foreach (var account in Model.Accounts)
    {
        <div class="item">
            <div class="content">
                <div class="header">@account.Email</div>
            </div>
        </div>
    }
</div>