@model Presentation.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Accounts List";
}
<h1>Total accounts : @Model.Total</h1>
<table class="table table-bordered">
    @foreach (var account in Model.Accounts)
    {
        <tr>
            <td>@account.Id</td>
            <td>@account.Email</td>
        </tr>
    }
</table>